@use '../var/colores' as c;
@use '../tools/mixin' as t;

.home-container {
    @include t.flexDirection(column);
    gap: 3rem;

    .hero {
        font-size: 3rem;
        span {
            font-size: 7rem;
            color: c.$Verde;
            display: block;
        }
    }

    .cards {
        @include t.flexCenterDirection(space-around);
 
        .card {
            @include t.flexCenter(column);
            border: 1px solid #959595;
            padding: 3rem 0 1rem 0;
            min-height: 30vh;
            border-radius: 10px;

            img {
                filter: invert(0%) sepia(100%) saturate(7500%) hue-rotate(178deg) brightness(82%) contrast(109%);
                width: 40%;
            }

            span {
                font-size: 2rem;
                margin: 2rem 0 0 0;
            }

            p {
                padding: 0 2rem;
                font-size: 1.4rem;
            }

        }
    }
}
