// Fuentes
$fntCol_Titulo: #3C4043;
$fntColNavBar_Saludo: #FAFAFE;
$fntColNavBar_Nombre: #E7F4FB;
$fntColNavBar_Rol: #57DCAD;

$fntCol_Texto2: #3E4654;


// Botones
$Verde: #5AE4A7;


// Background
$bgLogin:linear-gradient(
    -45deg,
    #F0EDF5,
    #F3F4FD,
    #E7F4FB,
);

$bgNavBar: #0D0442;
$bgNavBarHover: #57DCAD;
$bgNavBar_Header: #41338F;

$bgNavBarInsumos: #D9E7FF;
$bgNavBarInsumos_Hover: #D4CCFF;


// Bg Tabla
$bgTabla_Even: #a5e9f8;

// Bg Botones tabla
$bgBtn_VistaGral: #62AF25;
$bgBtn_Editar: #DE8E44;
$bgBtn_Eliminar: #F5646D;
$bgBtn_Cancelar: #525558;

// Borders
$bordeInputs: 1px solid rgba($color: #000000, $alpha: 0.3);

$boxShadowContainers: 0 5px 8px lightgray;